{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Operations {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'jsoneditor/jsoneditor.min.css' %}"/>
<style>
</style>
{% endblock styles %}

{% block content %}
<h2>{{add_edit}} operation for service : {{service.name}}</h2>
<form action="" method="post">{% csrf_token %}
	<table class="table table-condensed">
		{% for field in form %}
		<tr class="fieldWrapper">
			<td>{{ field.label_tag }}</td>
			<td>
				{% if forloop.counter == 4 %}
			
				<table class="table">
					<tr>
						<td id="jsoneditor" class="col-md-4" style="width:500px; height:400px; border:0px solid silver;">
						</td>
						<td class="col-md-1">
							<br>
							<br>
							<br>
							<button id="use-json" class="btn btn-info">OK <i class="fa fa-angle-double-right"></i></button>
							<br>
							<br>
							<br>
						</td>
						<td class="col-md-4">
						{{ field }} {{ field.errors }}
						</td>
					</tr>
				</table>

				{% else %}

				{{ field }} {{ field.errors }}

				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
	<br>
	<input class="btn btn-success" type="submit" value="Submit" />
</form>
<br>
<a href="/rip/service/{{service.id}}/operation"> Go back to see all operations</a>
<br>
<br>
{% endblock content%}

{% block scripts %}
<script type="text/javascript" src="{% static 'jsoneditor/jsoneditor.min.js' %}"></script>
<script>
$(function() {
	var editor = new JSONEditor(document.getElementById("jsoneditor"))
	var starter_json = {
			'': '',
		};
	if($('#id_sample_json').text() !== ""){
		starter_json = JSON.parse($('#id_sample_json').text());
	}
	editor.set(starter_json);
	
	$('#use-json').click(function(e){
		var json = editor.get();
		$('#id_sample_json').text(JSON.stringify(json));
		$('#id_sample_json').animate({
			opacity: "0.25",
		}, "fast").animate({
			opacity: "1.00",
		}, "fast");
		e.preventDefault();
	});
});
	
</script>
{% endblock scripts %}


