{% extends "base.html" %}

{% block title %} Operations {% endblock %}

{% block styles %}
<style>
thead {
	background-color:gray;
	color:white;
}
.json {
	word-wrap: break-word;
}
</style>
{% endblock styles %}

{% block content %}
<h2>Operations for service : {{service_id}}</h2>
<table class="table table-striped table-condensed" style="table-layout:fixed">
	<thead>
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>URL</td>
			<td>Method</td>
			<td class="col-md-4">Input Template</td>
			<td>
			</td>	
		</tr>
	</thead>
	<tbody>
	{% for operation in object_list %}
		<tr>
			<td>{{operation.id}}</td>
			<td><a href="/rip/service/{{service_id}}/operation/{{operation.id}}/testcase">{{operation.name}}</a></td>
			<td>{{operation.url}}</td>
			<td>{{operation.method}}</td>
			<td class="col-md-4 json">{{operation.sample_json|truncatechars:200 }}</td>
			<td>
				<a class="btn btn-warning btn-xs" href="/rip/service/{{service_id}}/operation/{{operation.id}}/update">Edit</a>
				<a class="btn btn-danger btn-xs" href="/rip/service/{{service_id}}/operation/{{operation.id}}/delete">Delete</a>
			</td>	
		</tr>
	{% empty %}
		<em>No Operations!</em>
	{% endfor %}
	</tbody>
</table>
<br>
<br>
<a class="btn btn-success" href="/rip/service/{{service_id}}/operation/create">Add operation</a>
<br>
<br>
<a href="/rip/service/">Go back to services</a>
{% endblock content%}
