{% extends "base.html" %}

{% block title %} Operations {% endblock %}

{% block content %}
<h2>Operations</h2>
<table class="table table-striped table-condensed">
	{% for operation in object_list %}
		<tr>
			<td>{{operation.id}}</td>
			<td><a href="operation/{{operation.id}}/testcase">{{operation.name}}</a></td>
			<td>{{operation.url}}</td>
			<td>{{operation.sample_json}}</td>
			
		</tr>
	{% empty %}
		<em>No Operations!</em>
	{% endfor %}
</table>
<br>
<br>
<a class="btn btn-success" href="/rip/service/{{service_id}}/operation/create">Add operation</a>
{% endblock content%}
