{% extends "base.html" %}

{% block title %} TestCases {% endblock %}

{% block styles %}
<style>
thead {
	background-color:gray;
	color:white;
}
.json, .tc-result {
	word-wrap: break-word;
}
</style>
{% endblock styles %}

{% block content %}
<h2>TestCases for Operation : {{operation.name}} - {{operation.method}} - {{operation.url|truncatechars:'25'}}</h2>
<table class="table table-striped table-condensed" style="table-layout:fixed">
	{% if object_list %}
	<thead>
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td class="col-md-4 json">Input</td>
			<td>Expected HTTP Response</td>
			<td class="col-md-1">Run</td>
			<td>Result</td>
			<td></td>
		</tr>
	</thead>
	{% endif %}
	<tbody>
	{% for testcase in object_list %}
		<tr id={{testcase.id}} class="tc-row">
			<td>{{testcase.id}}</td>
			<td><a href="/rip/service/{{service_id}}/operation/{{operation_id}}/testcase/{{testcase.id}}/update">{{testcase.name}}</a></td>
			<td class="col-md-4 json">{{testcase.input|truncatechars:200}}</td>
			<td>{{testcase.exp_http_response}}</td>
			<td class="col-md-1">
				<a class="btn btn-info btn-xs btn-run-tc" href="/rip/service/{{service_id}}/operation/{{operation_id}}/testcase/{{testcase.id}}/run">Run</a>
			</td>
			<td class="tc-result">
			</td>
			<td>
				<a class="btn btn-warning btn-xs" href="/rip/service/{{service_id}}/operation/{{operation_id}}/testcase/{{testcase.id}}/update">Edit</a>
				<a class="btn btn-danger btn-xs" href="/rip/service/{{service_id}}/operation/{{operation_id}}/testcase/{{testcase.id}}/delete">Delete</a>
				<a class="btn btn-danger btn-xs" href="/rip/service/{{service_id}}/operation/{{operation_id}}/testcase/{{testcase.id}}/delete" disabled>Clone</a>
			</td>

		</tr>
	{% empty %}
		<em>No TestCases!</em>
	{% endfor %}
	</tbody>
</table>
<br>
<div class="row">
	<a class="btn btn-success" href="/rip/service/{{service_id}}/operation/{{operation_id}}/testcase/create">Add testcase</a>
	{% if object_list %}
	<a class="btn btn-info run-all">Run All</a>
	{% endif %}
</div>
<br>
<br>
<a href="/rip/service/{{service_id}}/operation/">Go back to operation</a>
{% endblock content%}

{% block scripts %}
<script>
$(function() {
	$('.btn-run-tc').click(function(e){
		var tc = $(this).parents('tr').attr('id');
		execute_tc(tc);
		e.preventDefault();
	});

	$('.run-all').click(function(e){
		$.each($('.tc-row'), function(index, row){
			execute_tc($(this).attr('id'));
		});
		e.preventDefault();
	});


	function execute_tc(tc){
		var this_ref = $('#'+tc).find('.btn-run-tc');
		var url = this_ref.attr('href');
		this_ref.parents('tr').css({'background-color':'sandybrown'})

		$.get(url, function(data, status, jqXHR, string) {
			//handle_session_expiry(jqXHR);
			if(data['status'] == "Passed"){
				this_ref.parents('tr').css({'background-color':'lightgreen'})
				this_ref.parents('td').siblings('.tc-result').empty();
			}else{
				this_ref.parents('tr').css({'background-color':'pink'})
				this_ref.parents('td').siblings('.tc-result').empty();
				this_ref.parents('td').siblings('.tc-result').append(data['reason']).append('<br><br>');
				$.each(data['conditions'], function(key, value){
					if( value['status'] === "Failed"){
						this_ref.parents('td').siblings('.tc-result').append(value['reason']);
					}
				});
			}
		}).fail(function(data, status){
			var msg = '';
			if(typeof data.responseText != 'undefined'){
				msg = data.status + ' ' + data.statusText
			}else{
				msg = 'No response from server!';
			}
			this_ref.parents('tr').css({'background-color':'pink'})
		});
	}
});
</script>
{% endblock scripts %}
