{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Testcases {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'jsoneditor/jsoneditor.min.css' %}"/>
<style>
#condition-tabl tr{
	border:1px solid black;
}

.result-display{
	cursor:pointer;
}
</style>
{% endblock styles %}

{% block content %}
<h2>{{add_edit}} Testcase for operation : {{operation.name}} - {{operation.method}} - {{operation.url|truncatechars:'25'}}</h2>
<form action="" method="post">{% csrf_token %}
	<table class="table table-condensed">
		{% for field in form %}
		<tr class="fieldWrapper">
			<td>{{ field.label_tag }}</td>
			<td>
				{% if forloop.counter == 3 %}
				Operation URL : <strong>{{operation.url}}</strong>
				<br>
				<small>In the below text box provide a json with placeholders as keys and their values.</small>
				<br>
				{% endif %}

				{% if forloop.counter == 4 %}
				<div id="jsoneditor" style="width: 600px; height: 400px; border:1px solid silver;">
				</div>
				<button id="use-json" class="btn btn-info col-md-offset-1">Use this JSON <i class="fa fa-angle-double-down"></i></button><br>
				{% endif %}

				{{ field }} {{ field.errors }}
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td><strong>Expected Output:</strong></td>
			<td>
				{{ condition_formset.management_form }}
				{{ condition_formset.non_form_errors.as_ul }}
				<table id="formset" class="form">
				{% for form in condition_formset.forms %}
					{% if forloop.first %}
						<thead><tr>
						{% for field in form.visible_fields %}
						<th>{{ field.label|capfirst }}</th>
						{% endfor %}
						</tr></thead>
					{% endif %}
					<tr class="{% cycle row1,row2 %}">
					{% for field in form.visible_fields %}
						<td>
						{# Include the hidden fields in the form #}
						{% if forloop.first %}
							{% for hidden in form.hidden_fields %}
							{{ hidden }}
							{% endfor %}
						{% endif %}
						{{ field.errors.as_ul }}
						{{ field }}
						</td>
					{% endfor %}
					</tr>
				{% endfor %}
				</table>
			</td>
		</tr>
	</table>


	<br>
	<input class="btn btn-success" type="submit" value="Submit" />
</form>
<br>
<br>
You may 
<a class="btn btn-info btn-xs btn-run-tc" id="{{testcase_id}}" href="/rip/service/{{service_id}}/operation/{{operation_id}}/testcase/{{testcase_id}}/run"> Run this cestcase </a>
 or 
<a href="/rip/service/{{service_id}}/operation/{{operation_id}}/testcase"> go back to see all testcases</a>
<br>
<div class="result-display alert" style="position:fixed; top:25px; z-index:2; width:80%;">
</div>
<br>
{% endblock content%}

{% block scripts %}
<script type="text/javascript" src="{% static 'jsoneditor/jsoneditor.min.js' %}"></script>
<script>
$(function() {
	var editor = new JSONEditor(document.getElementById("jsoneditor"))
	var starter_json = {
			'': '',
		};
	if($('#id_input').text() !== ""){
		starter_json = JSON.parse($('#id_input').text());
	}
	editor.set(starter_json);

	$('#use-json').click(function(e){
		var json = editor.get();
		$('#id_input').text(JSON.stringify(json));
		e.preventDefault();
	});

	$('.result-display').click(function(e){
		$(this).hide();
	});

	$('.btn-run-tc').click(function(e){
                var tc = $(this).attr('id');
                var url = $(this).attr('href');
                execute_tc(tc, url);
                e.preventDefault();
        });

	function execute_tc(tc, url){
		$('.result-display').show();
		$('.result-display').empty();
		$.get(url, function(data, status, jqXHR, string) {
			//handle_session_expiry(jqXHR);
			if(data['status'] == "Passed"){
				$('.result-display').css({'background-color':'lightgreen'})
				$('.result-display').append(data['status']);
			}else{
				$('.result-display').css({'background-color':'pink'})
				$('.result-display').empty();
				$('.result-display').append(data['reason']).append('<br><br>');
				$.each(data['conditions'], function(key, value){
					if( value['status'] === "Failed"){
						$('.result-display').append(value['reason']);
					}
				});
			}
		}).fail(function(data, status){
			var msg = '';
			if(typeof data.responseText != 'undefined'){
				msg = data.status + ' ' + data.statusText
			}else{
				msg = 'No response from server!';
			}

			$('.result-display').css({'background-color':'pink'})
		});
	}
	
});

</script>
{% endblock scripts %}


