{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Testcases {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'jsoneditor/jsoneditor.min.css' %}"/>
<style>
#condition-tabl tr{
	border:1px solid black;
}

#result-alert{
	position:fixed;
	top:25px;
	z-index:20;
	width:80%;
}
.result-display{
	cursor:pointer;
	word-wrap:break-word;
}

.textarea{
	display: inline;
}
</style>
{% endblock styles %}

{% block content %}
<div id="result-alert" class="alert alert-warning alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<div class="result-display">Wait...</div>
</div>
<br>
<h2>{{add_edit}} Testcase for operation : {{operation.name}} - {{operation.method}} - {{operation.url|truncatechars:'25'}}</h2>
<form action="" method="post">{% csrf_token %}
	<table class="table table-condensed">
		{% for field in form %}
		<tr class="fieldWrapper">
			<td>{{ field.label_tag }}</td>
			<td>
				{% if forloop.counter == 3 %}

				Operation URL : <strong>{{operation.url}}</strong>
				<br>
				<small>In the below text box provide a json with placeholders as keys and their values.</small>
				<br>
				{{ field }} {{ field.errors }}

				{% elif forloop.counter == 4 %}

				<div class="row">
					<div id="jsoneditor" class="col-md-4" style="width:500px; height:400px; border:0px solid silver;">
					</div>
					<div class="col-md-1">
						<br>
						<br>
						<br>
						<button id="use-json" class="btn btn-info bn-sm">OK <i class="fa fa-angle-double-right"></i></button>
					</div>
					<div class="col-md-4">
						{{ field }} {{ field.errors }}
					</div>
				</div>

				{% else %}
				{{ field }} {{ field.errors }}
				{% endif %}
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td><strong>Expected Output:</strong></td>
			<td>
				{{ condition_formset.management_form }}
				{{ condition_formset.non_form_errors.as_ul }}
				<table id="formset" class="form">
				{% for form in condition_formset.forms %}
					{% if forloop.first %}
						<thead><tr>
						{% for field in form.visible_fields %}
						<th>{{ field.label|capfirst }}</th>
						{% endfor %}
						</tr></thead>
					{% endif %}
					<tr class="{% cycle row1,row2 %}">
					{% for field in form.visible_fields %}
						<td>
						{# Include the hidden fields in the form #}
						{% if forloop.first %}
							{% for hidden in form.hidden_fields %}
							{{ hidden }}
							{% endfor %}
						{% endif %}
						{{ field.errors.as_ul }}
						{{ field }}
						</td>
					{% endfor %}
					</tr>
				{% endfor %}
				</table>
			</td>
		</tr>
	</table>


	<br>
	<input class="btn btn-success" type="submit" value="Submit" />
</form>
<br>
<br>
{% if testcase_id %}
You may 
<a class="btn btn-info btn-xs btn-run-tc" id="{{testcase_id}}" href="/rip/service/{{service_id}}/operation/{{operation_id}}/testcase/{{testcase_id}}/run"> Run this testcase </a>
 or 
{% endif %}
<a href="/rip/service/{{service_id}}/operation/{{operation_id}}/testcase"> go back to see all testcases</a>
<br>
<br>
<br>
{% endblock content%}

{% block scripts %}
<script type="text/javascript" src="{% static 'jsoneditor/jsoneditor.min.js' %}"></script>
<script>
$(function() {
	var editor = new JSONEditor(document.getElementById("jsoneditor"))
	var starter_json = {
			'': '',
		};
	if($('#id_input').text() !== ""){
		starter_json = JSON.parse($('#id_input').text());
	}
	editor.set(starter_json);

	$('#use-json').click(function(e){
		var json = editor.get();
		$('#id_input').text(JSON.stringify(json));
		e.preventDefault();
	});

	$('#result-alert').hide();
	$('#result-alert .close').click(function(e){
		$('#result-alert').hide();
	});

	$('.btn-run-tc').click(function(e){
                var tc = $(this).attr('id');
                var url = $(this).attr('href');
                execute_tc(tc, url);
                e.preventDefault();
        });

	function execute_tc(tc, url){
		$('#result-alert').show();
		$('.result-display').empty().append("Wait...");
		$.get(url, function(data, status, jqXHR, string) {
			$('.result-display').empty();
			if(data['status'] == "Passed"){
				//$('.result-display').css({'background-color':'lightgreen'})
				$('#result-alert').removeClass();
				$('#result-alert').addClass("alert alert-dismissible alert-success");
				$('.result-display').append(data['status']);
			}else{
				$('#result-alert').removeClass();
				$('#result-alert').addClass("alert alert-dismissible alert-danger");
				//$('.result-display').css({'background-color':'pink'})
				$('.result-display').empty();
				$('.result-display').append(data['status']);
				$('.result-display').append('<br><br>').append("Reason : " + data['reason']);
				$.each(data['conditions'], function(key, value){
					if( value['status'] === "Failed"){
						$('.result-display').append('<br>').append(value['reason']);
					}
				});
			}
			$('.result-display').append('<br><br>').append("Raw Response : " + data['raw_response_body']);
		}).fail(function(data, status){
			var msg = '';
			if(typeof data.responseText != 'undefined'){
				msg = data.status + ' ' + data.statusText
			}else{
				msg = 'No response from server!';
			}

			$('#result-alert').removeClass();
			$('#result-alert').addClass("alert alert-dismissible alert-danger");
			$('.result-display').empty().append(msg);
			//$('.result-display').css({'background-color':'pink'})
		});
	}
	
});

</script>
{% endblock scripts %}


