{% extends "base.html" %}

{% block title %} TestCases {% endblock %}

{% block styles %}
<style>
thead {
	background-color:gray;
	color:white;
}
.json {
	word-wrap: break-word;
}
</style>
{% endblock styles %}

{% block content %}
<h2>TestCases for Operation : {{operation_id}}</h2>
<table class="table table-striped table-condensed" style="table-layout:fixed">
	<thead>
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td class="col-md-4 json">Input</td>
			<td>Expected HTTP Response</td>
			<td>Run</td>
			<td>Result</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
	{% for testcase in object_list %}
		<tr>
			<td>{{testcase.id}}</td>
			<td>{{testcase.name}}</td>
			<td class="col-md-4 json">{{testcase.input|truncatechars:200}}</td>
			<td>{{testcase.exp_http_response}}</td>
			<td>
				<a class="btn btn-info btn-xs btn-run-tc" href="/rip/service/{{service_id}}/operation/{{operation_id}}/testcase/{{testcase.id}}/run">Run</a>
			</td>
			<td class="tc-result">
			</td>
			<td>
				<a class="btn btn-warning btn-xs" href="/rip/service/{{service_id}}/operation/{{operation_id}}/testcase/{{testcase.id}}/update">Edit</a>
				<a class="btn btn-danger btn-xs" href="/rip/service/{{service_id}}/operation/{{operation_id}}/testcase/{{testcase.id}}/delete">Delete</a>
			</td>

		</tr>
	{% empty %}
		<em>No TestCases!</em>
	{% endfor %}
	</tbody>
</table>
<br>
<a class="btn btn-success" href="/rip/service/{{service_id}}/operation/{{operation_id}}/testcase/create">Add testcase</a>
<br>
<br>
<a href="/rip/service/{{service_id}}/operation/">Go back to operation</a>
{% endblock content%}

{% block scripts %}
<script>
$(function() {
	/*
	$('.btn-run-tc').click(function(e){
		$(this).attr('href')
	});
	*/
});
</script>
{% endblock scripts %}
