{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.2.0/css/font-awesome.min.css' %}" />
	<style type="text/css">
		.sdfsdfa { color: rgb(230, 100, 180) }
	</style>
	{% block styles %}
	{% endblock styles %}
	<title>{% block title %}Litmus{% endblock %}</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1 class="col-md-2 text-right" style="background-color:salmon;height:47px;"> LITMUS </h1>
			<h1 class="col-md-3 text-left" style="background-color:deepskyblue;height:47px"> REST in peace</h1>
			<h6 class="col-md-5 text-left" ><br><br><em>A REST service test suite.<em></h6>
		</div>
		<br>
		{% block content %}
		Booo!
		{% endblock %}
	</div>

	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'jquery/jquery-2.1.1.min.js' %}"></script>
	{% block scripts %}
	{% endblock scripts %}
</body>
</html>
