{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.2.0/css/font-awesome.min.css' %}" />
	<style type="text/css">
		.sdfsdfa { color: rgb(230, 100, 180) }
	</style>
	{% block styles %}
	{% endblock styles %}
	<title>{% block title %}Litmus{% endblock %}</title>
</head>
<body>
	<div class="container">
		<table class="table">
			<tr>
				<td style="background-color:salmon;" class="text-right col-md-2" >
					<h1>LITMUS</h1>
				</td>
				<td style="background-color:deepskyblue;" class="col-md-3">
					<h1>REST in peace</h1>
				</td>
				<td style="" valign="baseline">
					<br>
					<br>
					<strong><em>A REST service test suite.</em></strong>
				</td>
			</tr>
		</table>
		<br>
		{% block content %}
		Booo!
		{% endblock %}
	</div>

	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'jquery/jquery-2.1.1.min.js' %}"></script>
	{% block scripts %}
	{% endblock scripts %}
</body>
</html>
